body {
    margin: 50px 20% 50px 20%;
    background-color: rgb(124, 124, 126);
}

div {
    margin-bottom: 35px;
    line-height: 0.3;
}

div.main {
    background-color: white;
    padding: 10%;
}

div.body {
    line-height: 1.2;
}

h1.title {
    line-height: 1.2;
}

p.hanging_indent {
    line-height: 1.2;
    margin-right: 30%;
    padding-left: 50px;
    text-indent: -50px;
}

p.line_height {
    line-height: 1.2;
}